@import "tailwindcss";

@font-face {
  font-family: "Schibsted Grotesk";
  src: url("/fonts/SchibstedGrotesk-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Schibsted Grotesk Medium";
  src: url("/fonts/SchibstedGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Schibsted Grotesk ExtraBold";
  src: url("/fonts/SchibstedGrotesk-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Schibsted Grotesk SemiBold";
  src: url("/fonts/SchibstedGrotesk-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Schibsted Grotesk SemiBold Italic";
  src: url("/fonts/SchibstedGrotesk-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.font-schibsted-grotesk {
  font-family: var(--font-schibsted-grotesk), sans-serif;
}
.font-schibsted-grotesk-medium {
  font-family: var(--font-schibsted-grotesk-medium), sans-serif;
}
.font-schibsted-grotesk-extra-bold {
  font-family: var(--font-schibsted-grotesk-extra-bold), sans-serif;
}
.font-schibsted-grotesk-semi-bold {
  font-family: var(--font-schibsted-grotesk-semi-bold), sans-serif;
}
.font-schibsted-grotesk-semi-bold-italic {
  font-family: "Schibsted Grotesk SemiBold Italic", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-schibsted-grotesk), sans-serif;
}
